<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sap-api-layer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a7e1f2ae-bcfb-49ef-8e79-6b2e6f5179ca/resourceGroups/demo-sap-api-rg/providers/Microsoft.Web/sites/sap-api-layer</ResourceId>
    <UserName>$sap-api-layer</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sap-api-layer.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>